###What is a lambda?
1. A lambda is an anonymous function (i.e., without a name). It is syntactic sugar for small throwaway functions.
- Core Syntax
- lambda arguments: expression <br>
lambda x: x + 1

In [ ]:
check_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check_even(10))

Even

In [ ]:
#“Positive”, “Negative” or “Zero”.
check_posnag = lambda x: "Positive" if x > 0 else ("Zero" if x==0 else "Negetive")
print(check_posnag(-1))

Negetive

In [ ]:
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)

[1, 4, 9, 16]

In [ ]:
#Use map with lambda to capitalize a list of names and prefix them with "Hello ".
names = ["max","tax","jax","rex","bix"]
capNames = list(map(lambda x:"Hello "+str(x).capitalize(), names))
print(capNames)

['Hello Max', 'Hello Tax', 'Hello Jax', 'Hello Rex', 'Hello Bix']

In [ ]:
#filter example
def check_float_or_string(item):
  return isinstance(item, float) or isinstance(item, str)

data = [1, 2.5, 'apple', 3, 'banana', 4.0, 5]
filtered_data = list(filter(check_float_or_string, data))
filtered_data

[2.5, 'apple', 'banana', 4.0]

In [ ]:
#print even from list
nums = [1, 5, 6, 2, 7]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)  # [6, 2]

[6, 2]

In [ ]:
# Use filter with lambda to extract strings of length greater than 5 from a list of words.
aircrafts = ["Supermarine Spitfire", "Messerschmitt Bf 109", "North American P-51 Mustang", "Focke-Wulf Fw 190", "Mitsubishi A6M Zero"]
filetAir = list(filter(lambda x: len(x) >= 20, aircrafts))
print(filetAir)

['Supermarine Spitfire', 'Messerschmitt Bf 109', 'North American P-51 Mustang']

In [ ]:
# We use reduce when we want to apply a function to the items of an iterable
# in a cumulative way, reducing the iterable to a single value.
# In this example, we want to find the sum of all numbers in the list.
from functools import reduce

def concatenate_strings(string1, string2):
  """
  A simple function to concatenate two strings.
  """
  return string1 + " " + string2

words = ["This", "is", "an", "example"]
sentence = reduce(concatenate_strings, words)
sentence

'This is an example'

In [ ]:
from functools import reduce
nums = [1, 2, 3, 4]#factorial
product = reduce(lambda x, y: x * y, nums)
print(product)  # 24

24

In [ ]:
# Use reduce to find the longest word in a list of strings.
furniture_brands = ["IKEA", "Ashley Furniture", "Ethan Allen", "La-Z-Boy", "Herman Miller"]
longest_str = reduce(lambda x, y: (x if len(x)>len(y) else y), furniture_brands)
print(longest_str)

Ashley Furniture

In [ ]:
#Example of sorted
students = {"John": 80, "Alice": 90, "Bob": 70}
sorted_students = sorted(students.items())
print(sorted_students)  # Sorted by marks

[('Alice', 90), ('Bob', 70), ('John', 80)]

In [ ]:
students = [("John", 80), ("Alice", 90), ("Bob", 70)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)  # Sorted by marks

[('Bob', 70), ('John', 80), ('Alice', 90)]

In [ ]:
# Sort a list of dictionaries representing users by their "age" key using lambda.
artifacts = [{"Rosetta Stone": 1799}, {"Terracotta Army": 210}, {"Code of Hammurabi": 1754}, {"Venus de Milo": 130}, {"Dead Sea Scrolls": 200}]
sorted_dict = sorted(artifacts, key=lambda x: list(x.values())[0])
print(sorted_dict)

[{'Venus de Milo': 130}, {'Dead Sea Scrolls': 200}, {'Terracotta Army': 210}, {'Code of Hammurabi': 1754}, {'Rosetta Stone': 1799}]

In [ ]:
#nested Lambda
adder = lambda x: lambda y: x + y
add_5 = adder(5)
print(add_5(10))  # 15

15

In [ ]:
n = 10
a = 0
b = 1
next = b
count = 1

while count <= n:
    print(next, end=" ")
    count += 1
    a, b = b, next
    next = a + b
print()

1 2 3 5 8 13 21 34 55 89

In [ ]:
# Nested lambda example
add_three_numbers = lambda x: lambda y: lambda z: x + y + z
result = add_three_numbers(1)(2)(3)
print(result)

6

In [ ]:
#Write a lambda that returns a multiplier function — i.e., multiplier(3)(10) should return 30.
multipl = lambda x: lambda y:x*y
mul3 = multipl(3)
print(mul3(10))

30

In [ ]:
# Inside annotate() or values_list()
# from django.db.models import F
# products.annotate(
#     discounted_price=F('price') * 0.9
# )

In [ ]:
# product_list = list(products.values('name', 'price'))
# discount = lambda p: {**p, 'discounted_price': p['price'] * 0.9}
# new_list = list(map(discount, product_list))

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'score': [50, 70, 90, 30]
})
df['grade'] = df['score'].apply(lambda x: 'A' if x >= 80 else 'B' if x >= 60 else 'C')
print(df)

   score grade
0     50     C
1     70     B
2     90     A
3     30     C

In [ ]:
#Use lambda + apply to:
# Convert a column of full names into initials (e.g., "John Smith" → "J.S.")
writers = ["J.R.R. Tolkien", "George R.R. Martin", "Brandon Sanderson", "Robert Jordan", "Ursula K. Le Guin"]
df_writers = pd.DataFrame(writers, columns=["Fantasy Authors"])
df_writers["Name Initials"] = df_writers["Fantasy Authors"].apply(lambda x: x.split()[0][0] + " " + x.split()[1][0])#.split("." or " ")
df_writers

      Fantasy Authors Name Initials
0      J.R.R. Tolkien           J T
1  George R.R. Martin           G R
2   Brandon Sanderson           B S
3       Robert Jordan           R J
4   Ursula K. Le Guin           U K

In [ ]:
words = ["apple", "banana", "pear", "grapes"]
sorted_words = sorted(words, key=lambda x: (-len(x), x))
print(sorted_words)  # By descending length, then alphabet

['banana', 'grapes', 'apple', 'pear']

In [ ]:
#Sort a list of tuples like [(“a”, 2), (“b”, 3), (“c”, 2)] by number descending, then by letter ascending.

In [ ]:
def apply_twice(f, x):
    return f(f(x))

print(apply_twice(lambda x: x + 2, 10))  # 14

14

In [ ]:
#Create a lambda that formats a number by adding commas (e.g., 1000000 → '1,000,000')

In [ ]:
# In sorted, groupby, map post-query transformations.